@import 'styles/colors';

.projects {
    background-color: $background-color-secondary;
    font-family: Helvetica;
    font-weight: 300;
    position: relative;
}

.projects-collection {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
