/* Classes for Landing Page */

.landing-header {
    /* background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imgs/img2.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/img11.png);
    height: 100vh;
}

.index-body {
    /* overflow: hidden; */
}

.intro h1 {
    color: white;
    font-size: 5vw;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-top: 10vh;
    white-space: nowrap;
    animation: typing 5s steps(40, end);
    font-family: Ariel;
    word-spacing: 5px;
}

.intro h2 {
    color: white;
    font-size: 3.5vw;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vh;
    white-space: nowrap;
    width: 0;
    animation: typing 5s steps(40, end) forwards;
    animation-delay: 3s;
    font-family: Ariel;
    word-spacing: 5px;

}

@keyframes delayer {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}