.portfolio-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/portfoliowallpaper.png);
    height: 100vh;
}

.heading
{
    text-align: center;
}

.heading h1 
{
    text-align: center;
    color: white;
    font-size: 6vw;
    font-family: "Ariel";
    letter-spacing: 10px;
    margin: 0 auto;
    margin-top: 20vh;
}

.heading a
{
    margin-top: 5vh;
    font-size: 48px;
    color: #72d2d4;
    text-decoration: none;
}

.spacer
{
    height: 6vh;
    color:transparent;
}

.lbbproj h1
{
    color: black;
    font-family: "Ariel";
    word-spacing: 5px;
    text-align: center;
    margin: 5vh auto;
    font-size: 4vw;
}

.lbbproj img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 10px;
    border: 3px solid turquoise;
}

.lbbproj p
{
    color: #666;
    margin: 5vh auto;
    text-align: center;
    width: 60%;    
    font-size: 22px;
    line-height: 150%;
    font-family: "Helvetica Neue", sans-serif;
}

.lbbproj a
{
    color: #72bcd4;
}

.speaker h1
{
    color: black;
    font-family: "Ariel";
    word-spacing: 5px;
    text-align: center;
    margin: 5vh auto;
    font-size: 4vw;
}

.speaker img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 10px;
    border: 3px solid lightsteelblue;
}

.speaker p
{
    color: #666;
    margin: 5vh auto;
    text-align: center;
    width: 60%;    
    font-size: 22px;
    line-height: 150%;
    font-family: "Helvetica Neue", sans-serif;
}

.speaker a
{
    color: #72bcd4;
}


.ultttproj h1
{
    color: black;
    font-family: "Ariel";
    word-spacing: 5px;
    text-align: center;
    margin: 5vh auto;
    font-size: 4vw;
}

.ultttproj img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    border-radius: 10px;
    border: 3px solid lightcoral;
}

.ultttproj p
{
    color: #666;
    margin: 5vh auto;
    text-align: center;
    width: 60%;    
    font-size: 22px;
    line-height: 150%;
    font-family: "Helvetica Neue", sans-serif;
}

.ultttproj a
{
    color: #72bcd4;
}



.trafficlight h1
{
    color: black;
    font-family: "Ariel";
    word-spacing: 5px;
    text-align: center;
    margin: 5vh auto;
    font-size: 4vw;
}

.trafficlight video
{
    display:block;
    margin: 5vh auto;
    width: 20%;
    border-radius: 10px;
    border: 3px solid lightsteelblue;
}

.trafficlight p
{
    color: #666;
    margin: 5vh auto;
    text-align: center;
    width: 60%;    
    font-size: 22px;
    line-height: 150%;
    font-family: "Helvetica Neue", sans-serif;
}

.trafficlight a
{
    color: #72bcd4;
}


.quotes h1
{
    color: black;
    font-family: "Ariel";
    word-spacing: 5px;
    text-align: center;
    margin: 5vh auto;
    font-size: 4vw;
}

.quotes img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 10px;
    border: 3px solid lightsalmon;
}

.quotes p
{
    color: #666;
    margin: 5vh auto;
    text-align: center;
    width: 60%;    
    font-size: 22px;
    line-height: 150%;
    font-family: "Helvetica Neue", sans-serif;
}

.quotes a
{
    color: #72bcd4;
}

