.professional-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/professional.jpeg);
    height: 110vh;
}

.heading
{
    text-align: center;
}

.body
{
    background-color: white;
}

.heading h1 
{
    text-align: center;
    color: white;
    font-size: 6vw;
    font-family: "Ariel";
    letter-spacing: 10px;
    margin: 0 auto;
    margin-top: 10vh;
}

.resume-space h1
{
    text-align: center;
    color: black;
    font-size: 5vw;
    letter-spacing: 7px;
    margin: 0 auto;
    font-family: "Ariel";
}

.resume-space h2
{
    /* margin-top: 2vh; */
    font-size: 2.5vw;
    text-align: center;
    font-weight: normal;
    color: black;
    font-family: "Ariel";
    /* letter-spacing: 5px; */
}

.resume-space a
{
    color: #72bcd4;
}

.resume-space p
{
    color: #666;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4vh;
    font-size: 22px;
    line-height: 160%;
    font-family: "Helvetica Neue", sans-serif;

}