* {
    margin: 0;
    padding: 0;
}

header {
    height: 200vh;
    background-size: cover;
    background-position: center;
}

body {
    /* background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364); */
    background-color: white;
}

.main-nav {
    /* background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imgs/img2.jpg); */
    background-color: transparent;
    text-align: center;
    list-style: none;
    /* margin-top: 30px; */
    padding-top: 30px;
    margin-right: 2%;
}

.main-nav li {
    background-color: transparent;
    display: inline-block;
}

.main-nav li a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-family: "Courier New";
    font-size: 17px;
}

.main-nav li.active a {
    color: #FFCE00
    ;
}

.main-nav li a:hover {
    color: #FFCE00
    ;
}


.footer
{
    background-color: white;
    height: 37px;
}

.footer.row
{
    justify-content: center;
}

.footer a
{
    color: darkgrey;
}

.footer p
{
    margin-top: 10px;
    text-align: center;
    color: darkgrey;
    font-family: "Courier New";
    font-size: 17px;
    vertical-align: center;
}

/* .footer div
{
    height: 2px;
    width: 100vw;
    background-color: white;
} */
