@import 'styles/colors';

.project-view {
    display: flex;
    flex-direction: row;
    padding: 20px;
    max-width: 1000px;
    margin-bottom: 20px;
    // align-items: center;
}

.smallscreen-project-view {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
}

.imgCol {
    width: 35%;
    /* display: flex;
    align-items: center; */
}

.smallscreen-imgCol{
    width: 100%;
}

.imgCol img {
    width: 70%;
    border-radius: 5%;
    margin-top: 10px;
}

.smallscreen-imgCol img{
    width: 50%;
    border-radius: 5%;
    margin-bottom: 20px;
}

.textCol {
    width: 60%;
    margin-left: 5%;
    text-align: left;
}

.smallscreen-textCol {
    width: 100%;
    text-align: center;
}

.title-holder {
    display: flex;
    flex-direction: row;
}

.smallscreen-title-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    color: $small-heading-color;
    text-decoration: none;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}
.title:hover {
    color: $small-heading-hover-color;
}

.smallscreen-title {
    color: $small-heading-color;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

#projectGithub {
    color: $link-color;
    font-size: 2em;
    width: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    text-decoration: none;
}

#projectGithub:hover {
    color: $small-heading-hover-color;
}

.project-date {
    color: $body-text-color;
    font-size: 1em;
    margin: 0;
    margin-top: 10px;
}

.description {
    color: $body-text-color;
    font-size: 1.3em;
    line-height: 130%;
}

#demoLink a {
    color: $link-color;
    font-size: 1em;
    text-decoration: underline;
}

