.experience-view {
    display: flex;
    flex-direction: row;
    border-radius: 7%;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

#imgCol {
    width: 35%;
    /* justify-content: center; */
}

#imgCol img {
    width: 60%;
    border-radius: 5%;
    margin-bottom: 50px;
}

#textCol {
    width: 60%;
    margin-left: 5%;
    text-align: left;
}

#jobTitle {
    color: #61dafb;
    font-weight: 300;
    font-size: 1.8em;
    letter-spacing: 0;
    margin: 0;
}

#companyName {
    color: gold;
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 6px;
    margin-bottom: 0;
    padding: 0;
}

#dateRange {
    color: white;
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin-top: 6px;
}

#description {
    line-height: 150%;
}


