@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.landing {
    background-color: #212a3b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing img {
    border-radius: 50%;
    border: 2px #ccc solid;
    width: 50vh;
    height: 50vh;
    margin-top: 70px;
}

.mainheading {
    color: whitesmoke;
    font-size: 4em;
    margin: 0 auto;
    margin-top: 3vh;
    /* word-spacing: 5px; */
    font-family: Arial, sans-serif;
}

.secondheading {
    color: whitesmoke;
    font-size: 2.4em;
    margin: 0 auto;
    margin-top: 3vh;
    /* word-spacing: 5px; */
    font-family: Arial, sans-serif;
}

.links-holder {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.links-holder a {
    font-size: 3em;
    color: #61dafb;
    text-decoration: none;
    margin: 0 25px;
}

.links-holder a:hover {
    filter: opacity(70%)
}

.scrollDown {
    color: whitesmoke;
    font-size: 4em;
    background: none;
    border: none;
    outline: none;
    margin-top: auto;
    line-height: 75%;
}

.scrollDown:hover {
    color: #61dafb;
    cursor: pointer;
}